*, *::before,*::after{

    box-sizing: border-box;
}
body{
    background-color: linear-gradient(to right, #ababab,#dadada)
}
.output{
    background-color: #000;
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    flex-direction: column;
}
.output .upper-output{
    color: aliceblue;
    font-size: 10px;
}
.output .lower-output{
    color: #f0f8ff;
    font-size: 20px;
}
.calculator {
    display:grid;
    font-size: 16px;
    min-height: 100vh;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px,auto)repeat(5, 100px );
}
 .span-two{
    grid-column: span 2;
}
.calculator >button{
    border: 2px white solid;
    cursor: pointer;
    outline: none;
}

.calculator >button:hover{
   background-color: beige;
}
.calculator >button:active{
    background-color: rgb(11, 134, 75);
    outline: none;
 }
